[user]
  name = honjo2
  email = honjo2@gmail.com
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  fixit = commit --amend --no-edit
